*~
*.hi
*.o
*.agdai
#*
.#*
*.dko
*.lpo
!theory/*.dko
!theory/*.lpo


# normally very big file
src/Main

agda/
translation/tests_/
agda-stdlib-1.6/
agda-stdlib/
dist/
.cabal-sandbox/

cabal.sandbox.config
TAGS