*~
*.hi
*.o
*.agdai
#*
.#*
*.dko
*.dk
*.lp
*.lpo
theory/*.dk
theory/*.lp
!translation/lp/Agda__Primitive-eta.lp
!translation/lp/Agda__Primitive-noEta.lp

# normally very big file
src/Main

agda/
translation/tests_/
agda-stdlib-1.6/
agda-stdlib/
dist/
.cabal-sandbox/

cabal.sandbox.config
TAGS