*~
*.hi
*.o
*.agdai
#*
.#*
*.dko
!theory/*.dko

translation/*/
!translation/tests/
!translation/std-lib/

translation/*/*
!translation/*/Makefile

# normally very big file
src/Main

agda/
translation/tests_/
agda-stdlib-1.6/
dist/
.cabal-sandbox/

cabal.sandbox.config
TAGS